
/*-------------------------------------
   Body
*/


body{
    margin-top: 20px;
    line-height: 2;
}


/* ------------------------------------
   Jumbotron
*/
.jumbotron {
  background-position: center;
  background-size: cover;
  background-color: white;
  margin: 10px;
}

.medium-logo{
  background-size: cover;
  background-image: url("../../static/images/medium.png");
  /* background-position:center;
  background-repeat:no-repeat; */
  height: 120px;
  width: 120px;
  border-radius: 10%;
  margin: 10px;
}

.github-logo{
  background-size: cover;
  background-image: url("../../static/images/github.png");
  /* background-position:center;
  background-repeat:no-repeat; */
  height: 100px;
  width: 100px;
  border-radius: 10%;
  margin: 10px;
}

.linkedin-logo{
  background-size: cover;
  background-image: url("../../static/images/linkedin.png");
  /* background-position:center;
  background-repeat:no-repeat; */
  height: 100px;
  width: 100px;
  border-radius: 10%;
  margin: 10px;
}

.cloud-prac-logo{
  background-size: cover;
  background-image: url("../../static/images/awslogo.png");
  background-position:center; 
  background-repeat:no-repeat; 
  height: 110px;
  width: 110px;
  border-radius: 3%;
  margin: 10px;
}

.sa-logo{
  background-size: cover;
  background-image: url("../../static/images/sa.png");
  background-position:center; 
  background-repeat:no-repeat; 
  height: 110px;
  width: 110px;
  border-radius: 3%;
  margin: 10px;
}


/* ------------------------------------
   About Me
*/
.container{
    position: flex;
    flex-direction: row;
    justify-content: center;
    /* padding-top: 50px; */
}


.col-sm{
    background-color: #eee;
    margin: 10px;
    height: 200px;
    border-radius: 5px;
    overflow: auto;
}

.about-picture{
  background-size: cover;
  background-image: url("../../static/images/nk.png");
  background-position:center;
  background-repeat:no-repeat;
  height: 300px;
  border-radius: 20%;
  margin: 3px;
}

h4{
    border-bottom: 2px solid grey;
}

ul.a{
    list-style-type: circle;
}

/*------------------------------------
   Projects Page
*/

.col-md-6{
    overflow: auto;
    height: 500px;
    /* border: 1px solid #eee; */
    padding: 10px;
}

.mynextmovie-text{
  overflow: auto;
  padding: 20px;
  /* margin: 10px; */
}

.mynextmovie-pic{
  overflow: auto;
  padding: 10px;
  /* margin: 10px; */
}

.retrofitAI-pic{
  overflow: auto;
  padding: 10px;
  /* margin: 10px; */
}

.retrofitAI-text{
  overflow: auto;
  padding: 30px;
  /* margin: 10px; */
}

.masc-text{
  overflow: auto;
  padding: 20px;
  /* margin: 10px; */
}

.masc-pic{
  overflow: auto;
  padding: 10px;
  /* margin: 10px; */
}

.col{
    overflow: auto;
    height: 60px;
    padding: 10px;
    text-align: center;
}

.fit-image{
width: 100%;
object-fit: cover;
}

#projects {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* ------------------------------------
   Footer
*/
.footer {
  margin-top: 40px;
  text-align: center;
  background-color: black;
  color: #eee;
  height: 60px;
  padding-top: 15px;
}

.footer ul {
  list-style-type: none;
}

.footer li {
  display: inline;
}

a:hover {
  opacity: 50%;
}

.skill-tabs{
  text-align: left;
}
