<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Nikola Kuzmic</title>
  </head>


  <body>
          <header>
              <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- ml-auto makes content of navbar to the left, but not the logo -->
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="../index.html">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../static/documents/Nikola Kuzmic - Resume - Data Scientist.pdf" target="_blank">Resume</a>
                      </li>

                    </ul>
                  </div>
            </nav>
          
          
          </header>
    <main>
        
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h4>
                  RetrofitAI (2019)
                </h4>
                <p>
                    Built end-to-end pipeline capable of recommending personalized house renovations and predicting associated energy savings as an alternative to traditional in-person energy audits.  
                </p>
                <ul>
                        <li>Researched and implemented state-of-the-art ML techniques.</li>
                        <li>Performed extensive data preprocessing and ETL steps.</li>
                        <li>Led numerous iterations of model development and hyperparameter tuning.</li>
                        <li>Discovered alternative data sources.</li>
                        <li>Deployed models into production on AWS using Flask. </li>
                        <li>Collaborated with the Product Team in creating a Minimum Viable Product (MVP) and with the Engineering Team in creating an API as a way of interfacing with the main company product.</li>
                        
                </ul>
                <p>
                    <strong>Technologies:</strong> Python, Pandas, Scikit-Learn, S3, EC2, Flask, HTML, CSS, Bootstrap, MySQL
                </p>
            </div>
            <div class="col-md-6">
              <img src="../static/images/RetrofitAI.jpeg" class="img-responsive fit-image">
            </div>
          </div>
            <div class="row">
                <div class='col'></div>
                <div class='col'>
                        <button type="button" class="btn btn-secondary">(Demo Coming Soon)</button>
                    </div>
            </div>
        </div>
        
      <div class="container">
          <div class="row">
            <div class="col-md-6">
                <h4>
                    Master's Thesis - Blood Vessel Growth Simulator (2017)
                </h4>
                <p>
                    Developed an internal simulation software to help Bioscience Researchers design experimental microfluidic devices (top part of the figure) and determine the necessary concentration of chemicals (denoted v' on the bottom graph) to induce cell (denoted &#961') movement representative of blood vessel growth. My thesis consisted of:
                </p>
                
                <ul>
                        <li>Translating images into model verification data</li>
                        <li>Building and implementing mathematical models that can identify the optimal device configuration</li>
                        <li>Deploying a simple user interface for researchers.</li>
                
                </ul>
                <p>
                    The outcome of this project was a reduction in time spent planning experiments by 40% and improvement in experiment success by 200%, which translated into savings of ~$20k/year for the lab.
                </p>
                <p>
                    <strong>Technologies:</strong> Matlab, Python
                </p>
                    
                    
                
            </div>
            <div class="col-md-6">
                <img src="../static/images/MAScWork.png" class="img-responsive fit-image">
          </div>
        </div>
          <div class="row">
                <div class='col'></div>
                <div class='col'>
                        <a class="btn btn-secondary" role="button" href="https://pubmed.ncbi.nlm.nih.gov/30604299/" style="color: white" target="_blank">Journal Publication</a>
                    </div>
            </div>
        </div>
      
      
      </main>
        
      <footer class="footer">
        <ul>
          <a  href="https://medium.com/@nikola.kuzmic945" target="_blank" ><li>Medium</li></a>
          <li> | </li>
          <a  href="https://github.com/kuzmicni" target="_blank" ><li>GitHub</li></a>
          <li> | </li>
          <a  href="https://ca.linkedin.com/in/nikola-kuzmic-71b118148" target="_blank" ><li>LinkedIn</li></a>
        </ul>
      </footer>
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>